@page "/Referencias/Perfiles"

@inject PerfilesServices srvPerfiles
@inject EstadosServices srvEstados

<TelerikGrid Data=@LstPerfil EditMode="@GridEditMode.Popup" Height="100%"
             Sortable=true Pageable=true PageSize=10 Resizable="true"
             SelectionMode="GridSelectionMode.Single">

    <GridToolBar>
        <GridCommandButton OnClick="@( () => OnClick("Add", null) )" Icon="add">Agregar</GridCommandButton>
    </GridToolBar>

    <GridColumns>
        <GridCommandColumn Width="70px">
            <GridCommandButton OnClick="@((args) => OnClick("Upd", args.Item as Perfil))" Icon="edit" />
        </GridCommandColumn>
        <GridColumn Field=@nameof(Perfil.ID_Perfil) Title="Identificador" Width="150px" />
        <GridColumn Field=@nameof(Perfil.N_Perfil) Title="Descripción" />
        <GridColumn Field=@nameof(Perfil.Estado) Title="Estado" Sortable="false">
            <Template>
                @( (context as Perfil).Estado.N_Estado)
            </Template>
        </GridColumn>


        <GridCommandColumn Width="70px">
            <GridCommandButton Command="Delete" Icon="delete" OnClick="@((args) => OnClick("Del", args.Item as Perfil))" />
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

<TelerikWindow Visible="ShowWindow" Modal="true" Class="c-Window">
    <WindowContent>
        <EditForm Model="SelectedPerfil" OnValidSubmit="@OnSave">
            <!-- Card -->
            <div class="card" style="width: 500px; height: 450px;">
                <div class="card-header blue-gradient-rgba text-black">
                    <h5 class="card-title my-2"><strong>@TituloWindow</strong></h5>
                </div>

                <div class="card-body text-muted">
                    <DataAnnotationsValidator />
                    <div class="row my-1">
                        <div class="col">
                            <!-- ID_Comuna -->
                            <label class="k-label">Identificador</label>
                            <TelerikNumericTextBox @bind-Value="SelectedPerfil.ID_Perfil" Width="100%" @ref="IDInt" Enabled="false" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <!-- Nombre_Comuna -->
                            <label class="k-label">Descripción</label>
                            <TelerikTextBox @bind-Value="SelectedPerfil.N_Perfil" Width="100%" />
                            <ValidationMessage For="@(() => SelectedPerfil.N_Perfil)" />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <!-- ID_Region -->
                            <label class="k-label">Estado</label>
                            <TelerikComboBox Data="@LstEstado" @bind-Value="SelectedPerfil.Estado.ID_Estado" Width="100%"
                                             TextField="N_Estado" ValueField="ID_Estado"
                                             Placeholder="Seleccione una Estado..." ClearButton="true" Filterable="true">
                            </TelerikComboBox>
                        </div>
                    </div>

                    <div class="form-row">
                        <ValidationSummary />
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-row d-flex d-flex justify-content-between">
                        <TelerikButton Icon="@IconButton"
                                       Class="btn btn-outline-info btn-telerik"
                                       ButtonType="@ButtonType.Submit">
                            <strong>@TituloButton</strong>
                        </TelerikButton>

                        <TelerikButton Icon="cancel" OnClick="@OnCancel"
                                       Class="btn btn-outline-danger btn-telerik"
                                       ButtonType="@ButtonType.Button">Cancelar</TelerikButton>
                    </div>
                </div>
            </div>
            <!-- Card -->
        </EditForm>
    </WindowContent>
</TelerikWindow>

<TelerikNotification @ref="@Notification"></TelerikNotification>

@code {

    //
    public List<Perfil> LstPerfil { get; set; }
    public List<Estado> LstEstado { get; set; }
    //
    public string Accion { get; set; }
    public Perfil SelectedPerfil { get; set; }

    //
    public string TituloWindow { get; set; }
    public string TituloButton { get; set; }
    public string IconButton { get; set; }

    public bool ShowWindow { get; set; } = false;

    public TelerikNotification Notification { get; set; }

    // Referencias de tipo
    private Telerik.Blazor.Components.TelerikNumericTextBox<int> IDInt;

    //
    protected override async Task OnInitializedAsync()
    {
        LstPerfil = await srvPerfiles.GetPerfiles();
        LstEstado = await srvEstados.GetEstados();
    }
    //
    private void OnCancel(MouseEventArgs e)
    {
        ShowWindow = false;

    }
    //
    private void OnClick(string cAccion, Perfil perfil)
    {
        ShowWindow = true;
        Accion = cAccion;
        SelectedPerfil = perfil;

        if (cAccion == "Add")
        {   //
            SelectedPerfil = new Perfil()
            {
                ID_Perfil = 0,
                N_Perfil = string.Empty,
                Estado = new Estado()
                {
                    ID_Estado = 0,
                    N_Estado = string.Empty
                }

            };

            TituloWindow = "Agregar Perfil";
            TituloButton = "Agregar";
            IconButton = "add";
        }
        else
        {   //
            SelectedPerfil = perfil;

            //
            if (Accion == "Upd")
            {
                TituloWindow = "Actualizar Perfil";
                TituloButton = "Guardar";
                IconButton = "save";

            }
            else
            {
                TituloWindow = "Eliminar Perfil";
                TituloButton = "Eliminar";
                IconButton = "delete";

            }
        }

        //
        StateHasChanged();
    }
    //
    private async Task OnSave()
    {
        ShowWindow = false;
        if (Accion == "Add")
        {
            if (LstPerfil.Exists(pf => pf.N_Perfil == SelectedPerfil.N_Perfil))
            {
                //toast.ShowWarning("La descripción ya se encuentra en la lista...", "ATENCION");
                return;
            }

            var response = await srvPerfiles.CreateAsync(SelectedPerfil);
            if (response.IsSuccess)
            {
                LstPerfil.Add(response.Result);
                //toast.ShowSuccess("Los datos se almacenaron correctamente...", "ATENCION");
            }
            else
            {
                //toast.ShowError(response.Message, "ERROR");
            }
        }

        if (Accion == "Upd")// Metodo comportamiento extraño
        {

            var response = await srvPerfiles.UpdateAsync(SelectedPerfil);
            if (response.IsSuccess)
            {
                LstPerfil.Add(response.Result);
                var posicion = LstPerfil.FindIndex(pf => pf.ID_Perfil == SelectedPerfil.ID_Perfil);
                if (posicion == -1)
                {
                    //toast.ShowError("Se produjo un error inesperado...", "ERROR");
                }
                else
                {
                    LstPerfil[posicion] = SelectedPerfil;
                    Notification.Show(new NotificationModel()
                    {
                        Text = "Los datos se almacenaron correctamente...",
                        ThemeColor = "primary",
                        ShowIcon = true
                    });
                }
            }
            else
            {
                //toast.ShowError(response.Message, "ERROR");
            }
        }

        if (Accion == "Del")
        {
            var response = await srvPerfiles.DeleteAsync(SelectedPerfil);
            if (response.IsSuccess)
            {
                LstPerfil = await srvPerfiles.GetPerfiles();
                //toast.ShowSuccess("Los datos se eliminaron correctamente...", "ATENCION");
            }
            else
            {
                //toast.ShowError(response.Message, "ERROR");
            }
        }

        //
        LstPerfil = await srvPerfiles.GetPerfiles();


        StateHasChanged();
    }
}