@page "/Referencias/Tipo_Inventario"

@inject TipoInventarioServices srvTInventario
@inject EstadosServices srvEstados

<TelerikGrid Data=@LstTInventario EditMode="@GridEditMode.Popup" Height="100%"
             Sortable=true Pageable=true PageSize=10 
             SelectionMode="GridSelectionMode.Single">

    <GridToolBar>
        <GridCommandButton OnClick="@( () => OnClick("Add", null) )" Icon="add">Agregar</GridCommandButton>
    </GridToolBar>

    <GridColumns>
        <GridCommandColumn Width="150px">
            <GridCommandButton OnClick="@((args) => OnClick("Upd", args.Item as Tipo_inventario))" Icon="edit" />
            <GridCommandButton Command="Delete" Icon="delete" OnClick="@((args) => OnClick("Del", args.Item as Tipo_inventario))" />
        </GridCommandColumn>
        @*<GridColumn Field=@nameof(Tipo_inventario) Title="Identificador" Width="150px" />*@
        <GridColumn Field=@nameof(Tipo_inventario.N_Tipo_Inventario) Title="Nombre" />
        <GridColumn Field=@nameof(Tipo_inventario.Estado) Title="Estado">
            <Template>
                @( (context as Tipo_inventario).Estado.N_Estado)
            </Template>
        </GridColumn>
    </GridColumns>
</TelerikGrid>

<TelerikWindow Visible="ShowWindow" Modal="true" Class="c-Window">
    <WindowContent>
        <EditForm Model="SelectedTInventario" OnValidSubmit="@OnSave">
            @*Modal Tipo Inventario*@
            <div class="card" style="width: 500px; height: 450px;">
                <div class="card-header blue-gradient-rgba text-black">
                    <h5 class="card-title my-2"><strong>@TituloWindow</strong></h5>
                </div>

                <div class="card-body text-muted">
                    <DataAnnotationsValidator />
                    
                    <div class="row mt-2">
                        <div class="col">
                            @*Nombre*@
                            <label class="k-label">Nombre</label>
                            <TelerikTextBox @bind-Value="SelectedTInventario.N_Tipo_Inventario " Width="100%" />
                            <ValidationMessage For="@(() => SelectedTInventario.N_Tipo_Inventario)" />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <!-- Estado -->
                            <label class="k-label">Estado</label>
                            <TelerikComboBox Data="@LstEstado" @bind-Value="SelectedTInventario.Estado.ID_Estado" Width="100%"
                                             TextField="N_Estado" ValueField="ID_Estado"
                                             Placeholder="Seleccione un Estado..." ClearButton="true" Filterable="true">
                            </TelerikComboBox>
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <div class="form-row d-flex d-flex justify-content-between">
                        <TelerikButton Icon="@IconButton"
                                       Class="btn btn-outline-info btn-telerik"
                                       ButtonType="@ButtonType.Submit">
                            <strong>@TituloButton</strong>
                        </TelerikButton>

                        <TelerikButton Icon="cancel" OnClick="@OnCancel"
                                       Class="btn btn-outline-danger btn-telerik"
                                       ButtonType="@ButtonType.Button">Cancelar</TelerikButton>
                    </div>
                </div>
            </div>
            @*End Modal Tipo Descuento*@
        </EditForm>
    </WindowContent>
</TelerikWindow>

<TelerikNotification @ref="@Notification"></TelerikNotification>

@code {

    
    public List<Tipo_inventario> LstTInventario { get; set; }
    public List<Estado> LstEstado { get; set; }
    
    public string Accion { get; set; }
    public Tipo_inventario SelectedTInventario { get; set; }

    
    public string TituloWindow { get; set; }
    public string TituloButton { get; set; }
    public string IconButton { get; set; }

    public bool ShowWindow { get; set; } = false;

    public TelerikNotification Notification { get; set; }

    
    private Telerik.Blazor.Components.TelerikNumericTextBox<int> IDInt;

    
    protected override async Task OnInitializedAsync()
    {
        LstEstado = await srvEstados.GetEstados();
        LstTInventario = await srvTInventario.GetTipoInventario();
    }
    
    private void OnCancel(MouseEventArgs e)
    {
        ShowWindow = false;

    }
    
    private void OnClick(string cAccion, Tipo_inventario tipo_Inventario)
    {
        ShowWindow = true;
        Accion = cAccion;

        if (cAccion == "Add")
        {   
            SelectedTInventario = new Tipo_inventario()
            {
                ID_Tipo_Inventario = 0,
                N_Tipo_Inventario = string.Empty,
                Estado = new Estado()
                {
                    ID_Estado = 0,
                    N_Estado = string.Empty
                }

            };

            TituloWindow = "Agregar Tipo de Inventario";
            TituloButton = "Agregar";
            IconButton = "add";
        }
        else
        {   
            SelectedTInventario = tipo_Inventario;

            
            if (Accion == "Upd")
            {
                TituloWindow = "Actualizar Tipo de Inventario";
                TituloButton = "Guardar";
                IconButton = "save";

            }
            else
            {
                TituloWindow = "Eliminar Tipo de Inventario";
                TituloButton = "Eliminar";
                IconButton = "delete";

            }
        }

        
        StateHasChanged();
    }
    
    private async Task OnSave()
    {
        ShowWindow = false;
        if (Accion == "Add")
        {
            if (LstTInventario.Exists(ti => ti.N_Tipo_Inventario == SelectedTInventario.N_Tipo_Inventario))
            {
                
                return;
            }

            var response = await srvTInventario.CreateAsync(SelectedTInventario);
            if (response.IsSuccess)
            {
                LstTInventario.Add(response.Result);
                
            }
            else
            {
               
            }
        }

        if (Accion == "Upd")
        {

            var response = await srvTInventario.UpdateAsync(SelectedTInventario);
            if (response.IsSuccess)
            {
                LstTInventario.Add(response.Result);
                var posicion = LstTInventario.FindIndex(ti => ti.ID_Tipo_Inventario == SelectedTInventario.ID_Tipo_Inventario);
                if (posicion == -1)
                {
                   
                }
                else
                {
                    LstTInventario[posicion] = SelectedTInventario;
                    Notification.Show(new NotificationModel()
                    {
                        Text = "Los datos se almacenaron correctamente...",
                        ThemeColor = "primary",
                        ShowIcon = true
                    });
                }
            }
            else
            {
                
            }
        }

        if (Accion == "Del")
        {
            var response = await srvTInventario.DeleteAsync(SelectedTInventario);
            if (response.IsSuccess)
            {
                LstTInventario = await srvTInventario.GetTipoInventario();
                
            }
            else
            {
                
            }
        }

        
        LstTInventario = await srvTInventario.GetTipoInventario();

        StateHasChanged();
    }
}