@page "/Referencias/Tipo_documentos"

@inject TipoDocumentosServices srvTDocumentos 
@inject EstadosServices srvEstados

<TelerikGrid Data=@LstTDocumentos EditMode="@GridEditMode.Popup" Height="100%"
             Sortable=true Pageable=true PageSize=10 
             SelectionMode="GridSelectionMode.Single">

    <GridToolBar>
        <GridCommandButton OnClick="@( () => OnClick("Add", null) )" Icon="add">Agregar</GridCommandButton>
    </GridToolBar>

    <GridColumns>
        <GridCommandColumn Width="150px">
            <GridCommandButton OnClick="@((args) => OnClick("Upd", args.Item as Tipo_documento))" Icon="edit" />
            <GridCommandButton Command="Delete" Icon="delete" OnClick="@((args) => OnClick("Del", args.Item as Tipo_documento))" />
        </GridCommandColumn>
        @*<GridColumn Field=@nameof(Tipo_documento.ID_Tipo_Documento) Title="Identificador" Width="150px" />*@
        <GridColumn Field=@nameof(Tipo_documento.N_Tipo_Documento) Title="Nombre" />
        <GridColumn Field=@nameof(Tipo_documento.Estado) Title="Estado">
            <Template>
                @( (context as Tipo_documento).Estado.N_Estado)
            </Template>
        </GridColumn>
    </GridColumns>
</TelerikGrid>

<TelerikWindow Visible="ShowWindow" Modal="true" Class="c-Window">
    <WindowContent>
        <EditForm Model="SelectedTDocumento" OnValidSubmit="@OnSave">
            @*Modal Tipo Documentos*@
            <div class="card" style="width: 500px; height: 450px;">
                <div class="card-header blue-gradient-rgba text-black">
                    <h5 class="card-title my-2"><strong>@TituloWindow</strong></h5>
                </div>

                <div class="card-body text-muted">
                    <DataAnnotationsValidator />
                    
                    <div class="row mt-2">
                        <div class="col">
                            @*Nombre*@
                            <label class="k-label">Nombre</label>
                            <TelerikTextBox @bind-Value="SelectedTDocumento.N_Tipo_Documento " Width="100%" />
                            <ValidationMessage For="@(() => SelectedTDocumento.N_Tipo_Documento)" />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            @*Estado*@
                            <label class="k-label">Estado</label>
                            <TelerikComboBox Data="@LstEstado" @bind-Value="SelectedTDocumento.Estado.ID_Estado" Width="100%"
                                             TextField="N_Estado" ValueField="ID_Estado"
                                             Placeholder="Seleccione un Estado..." ClearButton="true" Filterable="true">
                            </TelerikComboBox>
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <div class="form-row d-flex d-flex justify-content-between">
                        <TelerikButton Icon="@IconButton"
                                       Class="btn btn-outline-info btn-telerik"
                                       ButtonType="@ButtonType.Submit">
                            <strong>@TituloButton</strong>
                        </TelerikButton>

                        <TelerikButton Icon="cancel" OnClick="@OnCancel"
                                       Class="btn btn-outline-danger btn-telerik"
                                       ButtonType="@ButtonType.Button">Cancelar</TelerikButton>
                    </div>
                </div>
            </div>
            @*End Modal Tipo Documentos*@
        </EditForm>
    </WindowContent>
</TelerikWindow>

<TelerikNotification @ref="@Notification"></TelerikNotification>

@code {


    public List<Tipo_documento> LstTDocumentos { get; set; }
    public List<Estado> LstEstado { get; set; }
    public string Accion { get; set; }
    public Tipo_documento SelectedTDocumento { get; set; }
    public string TituloWindow { get; set; }
    public string TituloButton { get; set; }
    public string IconButton { get; set; }
    public bool ShowWindow { get; set; } = false;
    public TelerikNotification Notification { get; set; }
    private System.Threading.ManualResetEvent Trigger = new System.Threading.ManualResetEvent(false);
    private Telerik.Blazor.Components.TelerikNumericTextBox<int> IDInt;



    protected override async Task OnInitializedAsync()
    {
        LstEstado = await srvEstados.GetEstados();
        LstTDocumentos = await srvTDocumentos.GetTipoDocumentos();


    }

    private void OnCancel(MouseEventArgs e)
    {
        ShowWindow = false;
        Task.Delay(5000);
        StateHasChanged();

    }

    private void OnClick(string cAccion, Tipo_documento tipo_Documento)
    {
        ShowWindow = true;
        Accion = cAccion;
        SelectedTDocumento = tipo_Documento;

        if (cAccion == "Add")
        {
            SelectedTDocumento = new Tipo_documento()
            {
                ID_Tipo_Documento = 0,
                N_Tipo_Documento = string.Empty,
                Estado = new Estado()
                {
                    ID_Estado = 0,
                    N_Estado= string.Empty
                }

            };

            TituloWindow = "Agregar Tipo de Documento";
            TituloButton = "Agregar";
            IconButton = "add";
        }
        else
        {
            SelectedTDocumento = tipo_Documento;


            if (Accion == "Upd")
            {
                TituloWindow = "Actualizar Tipo de Documento";
                TituloButton = "Guardar";
                IconButton = "save";

            }
            else
            {
                TituloWindow = "Eliminar Tipo de Documento";
                TituloButton = "Eliminar";
                IconButton = "delete";

            }
        }

        Task.Delay(5000);

        StateHasChanged();
        Task.Delay(500);
        Trigger.Set();
    }

    private async Task OnSave()
    {
        ShowWindow = false;
        if (Accion == "Add")
        {
            if (LstTDocumentos.Exists(td => td.N_Tipo_Documento == SelectedTDocumento.N_Tipo_Documento))
            {
           
                return;
            }

            var response = await srvTDocumentos.CreateAsync(SelectedTDocumento);
            if (response.IsSuccess)
            {
                LstTDocumentos.Add(response.Result);

               
            }
            else
            {
                
            }
        }

        if (Accion == "Upd")
        {

            var response = await srvTDocumentos.UpdateAsync(SelectedTDocumento);
            if (response.IsSuccess)
            {
                LstTDocumentos.Add(response.Result);
                var posicion = LstTDocumentos.FindIndex(td => td.ID_Tipo_Documento == SelectedTDocumento.ID_Tipo_Documento);
                if (posicion == -1)
                {
                    
                }
                else
                {
                    LstTDocumentos[posicion] = SelectedTDocumento;
                    Notification.Show(new NotificationModel()
                    {
                        Text = "Se edito el Tipo de Documento correctamente...",
                        ThemeColor = "primary",
                        ShowIcon = true
                    });
                }
            }
            else
            {
               
            }
        }

        if (Accion == "Del")
        {
            var response = await srvTDocumentos.DeleteAsync(SelectedTDocumento);
            if (response.IsSuccess)
            {
                LstTDocumentos = await srvTDocumentos.GetTipoDocumentos();
                Notification.Show(new NotificationModel()
                {
                    Text = "Se elimino el Tipo de Documento correctamente...",
                    ThemeColor = "error",
                    ShowIcon = true
                });
                
            }
            else
            {
               
            }
        }


        LstTDocumentos = await srvTDocumentos.GetTipoDocumentos();
        Trigger.Reset();
        StateHasChanged();
    }
}